/* ====================================
common css
=====================================*/
body{
    color: #666666;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;

}

.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}
img{
    max-width: 100%;
    height: auto;
}


/* ====================================
Top Header css
=====================================*/

.header_area{
    width: 100%;
    clear: both;
}
#top_header_area{
    background: #cc3333;
    padding: 15px 0;
    width: 100%;
}
.inner_top_header{
    overflow: hidden;
}
.mini_manu{
    padding-top: 5px;
    float: left;
    width: 70%;
}
.mini_manu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
   
}

.mini_manu ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.mini_manu ul li::after {
    background: #ffffff;
    content: "";
    position: absolute;
    top: 6px;
    right: -10px;
    height: 12px;
    width: 1px;
}
.mini_manu ul li:last-child::after {
    display: none;
}

.mini_manu ul li a {
    display: block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}
.mini_manu ul li a:hover {
    color: #ddd;
    
}

.search_area{
    float: right;
    width: 30%;
}

.search_area form{
    background: #ffffff;
    border-radius: 25px;
    float: right;
    padding: 2%;
    max-width: 210px;
    width: 96%;
}

.search_area input{
   border: 0px solid;
   width: 75%;
   padding: 1%;
   float: left;
   color: #000;
}

.search_area input[type="submit"]{
    background: url(img/scearch.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 23%;
 }

 
/* ====================================
Main Header css
=====================================*/

#main_header_area{
    width: 100%;
    clear: both;
}
.inner_header_area{
    overflow: hidden;
    padding: 40px 0;
}

.logo_area{
    float: left;
    width: 240px;
}

.social_area{
    float: right;
    max-width: 600px;
    width: 100%;
}

.social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.social_area ul li{
    display: inline-block;
    margin-left: 15px;
}
.social_area ul li a{
   display: block;
   text-decoration: none;
}
.social_area ul li a i{
  background: #333333;
  border-radius: 50%;
  display: block;
  text-decoration: none;
  width: 35px;
  padding-top: 8px;
  color: #ffffff;
  height: 25px;
  text-align: center;
  transition: 0.5s;
}

.social_area ul li a:hover i{
    background: #ff9933;  
  }  
.social_area ul li a:hover i.fa-linkedin-in{
    background: #0F73C1;  
  }  
.social_area ul li a:hover i.fa-twitter{
    background: #14A0FF;  
  }  
.social_area ul li a:hover i.fa-pinterest{
    background: #E11217;  
  }  
.social_area ul li a:hover i.fa-google-plus-g{
    background: #EF322F;  
  }

  
/* ====================================
Main Manu css
=====================================*/

#main_manu{
   width: 100%;
    clear: both;
}
.inner_manu{
    background: #333333;
    position: relative;
    min-height: 35px;
    padding: 15px 0;
    border-radius: 5px;
    z-index: 1;
}
.inner_manu::after{
    background: #333333;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
}

#main_manu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}
#main_manu ul li{
    display: inline-block;
    margin: 0 3px;
    position: relative;
}
#main_manu ul li a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 3px;

}
#main_manu ul li a:hover{
    color: #cc3333;
}

#main_manu ul li:hover a{
    color: #cc3333;
}
#main_manu ul li:hover ul li a{
    color: #fff;
}

/* Dropdown manu  */

#main_manu ul ul{
    position: absolute;
    background:#333333 ;
    width: 180px;
    left: -999999px;
    top: 33px;
}
#main_manu ul li:hover ul{
    left: 0px;
}
#main_manu ul li:hover ul ul {
    left: -999999px;
}

#main_manu ul ul ul{
    left: -999999px;
    top: 0;
}
#main_manu ul li:hover ul li:hover ul {
    left: 180px;
}

#main_manu ul ul li{
   margin: 0;
   display: block;
}
#main_manu ul ul li a:hover{
    background:#cc3333;
    color: #fff;
 }
 
#main_manu ul ul li:hover  a{
    background:#cc3333;
    color: #fff;
 }

 #main_manu ul ul li:hover ul li a{
    background:none;
    color: #fff;
 }
 #main_manu ul ul li ul li a:hover{
    background: #cc3333;
    color: #fff;
 }
